/* avatar position */
.imgcontainer {
    max-width: 25%;
    text-align: right;
    margin: 24px 0 12px 0;
}

/* navigation links formatting */
.navbar{
    position: top fixed absolute;
    text-align: right;
    top: 0;
    left: 0;
    width: auto;
    min-width: 350px;
    max-width: 100%;
    background-color: black;
    padding: 15px;
    background-image: url("imgs/navbarBG.jpg");
    background-repeat: no-repeat;
    background-position: left;
}

head{
    width: auto;
    text-align: justify;
    padding: 2%;
}

.container{
    background-color: rgb(180, 180, 180);
    text-align: right;
}

.container1{
    background-color: rgb(160, 160, 160);
}

body{
    width: auto;
    min-width: 350px;
    max-width: 90%;
    color: black;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;
    text-shadow: 0px 1px 1px darkgreen;
    background-image: url("imgs/wallpaper.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-position: top;
    opacity: 50%; 
}

.footer{
    position: bottom fixed absolute;
    padding: 10px;
    background-color: rgb(160, 160, 160);
    font-size: 14px;
    text-align: center;
}

.column1{
    float: left;
    min-width: 350px;
    max-width: 800px;
    padding: 10px;
    background-color: rgb(160, 160, 160);
}

.column2{
    float: right;
    min-width: 350px;
    max-width: 800px;
    padding: 10px;
    background-color: rgb(160, 160, 160);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h1{
    color: lightblue;
    background-color: rgb(30, 30, 30);
    width: auto;
    text-align: center;
    padding: 10px;
}

h2{
    color: lightblue;
    background-color: rgb(30, 30, 30);
    text-align: center;
    padding: 1%;
}

h3{
   color: lightblue;
   font-size: 16px;
   padding: 1%;
}

.link{
    color: lightblue;
    font-size 16px;
}

.link:hover{
    color:white;
    background-color: darkgrey;
    font-size: 18px;
    text-shadow: black 2px 2px 6px;
}

.link2{
    color:lightblue;
    font-size: 12px;
    text-shadow: black 0px 1px 4px;
}

.link2:hover{
    color: white;
    font-size: 14px;
    text-shadow: black 2px 2px 6px;
}

.footer{
    position: fixed bottom;
    bottom: 0;
    width: auto;
    min-width: 350px;
    text-align: center;
}

/* fx */
button:hover {
  opacity: 0.8;
}

/*flashy fx */
marquee{
    style: scrollamount="100" direction="left";
    position: center;
    top: auto;
    font-family: courier;
    font-size: 18pt;
    text-align: center;
    color: green;
    background-color: rgb(140, 140, 140);
    animation: blinkingText 3.5s infinite;
}
@keyframes blinkingText{
    0%{ color:yellow}
    20%{ color: orange}
    40%{ color: red}
    60%{ color: purple}
    79%{ color: blue}
    80%{ color: green}
    100%{ color: white}
}
